<!DOCTYPE html>
<html>
<head>
    <title>Oneconcern HW</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css' rel='stylesheet' />
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWRpa3RvZnN1Z2FyIiwiYSI6ImNpeDl4Mjk0NjAwMjYydHBkdnZ3ZWo4ancifQ.cZZFM9ZhDDllgQAbjqNQpg';
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
        
</head>
<body>
    {% block body %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="/assets/bundle.js"></script>
</body>
</html>
